.header {
    z-index: 100;
}
.wrap-header {
    padding: 3px 0;
    background-color: #191919;
}

.header-right-blok {
    display: flex;
}


.logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    width: 115px;
    cursor: pointer;
}

/* ------ Search ------ */

.search {
    grid-area: search;
    align-self: center;
    display: grid;
    width: 100%;
    max-width: 250px;
    grid-template-columns: 8fr 1fr;
    grid-template-areas:
    "input btn";
    justify-self: end;
    transition: 1s;
}
.search-input:focus {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.row-header {
    display: grid;
    column-gap: 10px;
    row-gap: 25px;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas:
    "open-menu logo basket";
    padding: 10px 0;
}

.btn-search {
    background: url(../../images/search-white.png) no-repeat;
    border: none;
    width: 25px;
    height: 25px;
    background-size: cover;
    grid-area: btn;
    outline: none;
    cursor: pointer;
}

.search-input {
    border: 2px solid white;
    border-radius: 5px;
    width: 90%;
    grid-area: input;
    background: none;
    outline: none;
    color: white;
    justify-self: end;
    padding-left: 10px;
}


.close-mobile-menu {
    background-color: red;
    border-radius: 4px;
    transition: 0.6s;
}

.close-mobile-menu > span:first-child{
    top: 4px;
    transform: rotate(-45deg);
    transition: 0.6s;
}
.close-mobile-menu > span:nth-child(2){
    display: none;
}
.close-mobile-menu > span:last-child {
    bottom: 4px;
    transform: rotate(45deg);
    transition: 0.6s;
}
.mobile-menu {
    width: 220px;
    padding: 20px;
    position: absolute;
    top: 110px;
    left: -400px;
    background-color: white;
    z-index: 100;
    transition: 1s;
    display: grid;
    row-gap: 20px;
    box-shadow: 0 0 10px #223a7b;
    border-radius: 8px;
}

.mobile-menu-item {
    text-decoration: none;
    display: block;
    padding: 5px;
    box-shadow: 0 0 15px inset rgb(182 210 231);
    border-radius: 4px;
    color: black;
}
.mobile-submenu {
    display: grid;
    row-gap: 20px;
    padding-top: 15px;
    padding-left: 20px;
}

.mobile-submenu-item {
    text-decoration: none;
    display: block;
    padding: 5px;
    box-shadow: 0 0 15px inset rgb(182 210 231);
    border-radius: 4px;
    color: black;
}

@media(min-width: 768px) {

    /*----- Header -----*/

    .header {
        background: none;
        border-bottom: 2px solid rgb(182 210 231);
    }
    
    .row-header {
        row-gap: 50px;
        grid-template-columns: 2fr 4fr 2fr;
        grid-template-areas:
        "open-menu logo basket" ;
    }

    .search-input {
        border: 2px solid white;
        border-radius: 5px;
        width: 90%;
        grid-area: input;
        background: none;
        outline: none;
        color: white;
        justify-self: end; 
    }


    /*----- Slider -----*/

    .slider .item img {
        width: 100%;
        border: none ;
        box-shadow: none ;
    }

    .item {
        position: relative;
    }

    .slideText {
        position: absolute;
        color: #fff;
        font-size: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .slider-box{
        position: relative;
        width: 100%;
    }
    .slider .item img  {
        width: 100%;
        height: 300px;
    }

    .slick-slide img {
        display: block;
        width: 100%;
    }

    .slick-arrow{
        z-index: 10;
    }
    .slick-prev {
        left: 80px;
    }
}

@media(min-width: 992px) {
   
    
    .menu {
        grid-area: menu;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-self: center;
        column-gap: 15px;
        
    }
    
    .menu-item {
        display: block;
        text-decoration: none;
        background-color: rgb(182, 210, 231);
        font-size: 18px;
        font-weight: 600;
        color: white;
        font-size: 18px;
        transition: 0.6s;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .menu-items {
        justify-self: center;
        align-self: center;
        position: relative;
    }
    
    .menu-items:hover .menu-item {
        box-shadow: 0 0 10px #3f51b5;
        color: white;
    }

    .row-header {
        row-gap: 50px;
        grid-template-columns: 1fr 2fr 3fr 1fr 1fr 1fr;
        grid-template-areas:
        "open-menu logo menu language login basket";
    }
    
    .search-input {
        border: none;
        width: 0px;
        transition: 1s;
    }
    .search:hover .search-input {
        border: 2px solid white;
        border-radius: 5px;
        width: 90%;
        transition: 0.8s;
    }
    
    .search-input:focus {
        width: 90%;
        border: 2px solid white;
    }

    .hide-laptop {
        display: none;
    }
}

@media(max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
@media(max-width: 991px) {
    .hide-tablet {
        display: none;
    }
}
.active-header {
    background: #3f51b5;
}

